.inline-container{
    width: 100%;
    position: relative;
}

.inline-row{
	width:100%;
	display:flex;
	padding:0 20px;
	box-sizing: border-box;
}

.inline-col-lg-5{
	width:40%
}


.inline-col-lg-7{
    width: 60%;
}

.inline-container-inner{
    max-width: 700px !important;
    margin: 0 auto;
    color: #111111;
	background-image: url("images/vault-bkg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}

.pt-4{
    padding-top: 0px;
}

.pb-4{
    padding-bottom: 0px;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1 span {
    font-size: 2.375rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0;
	color: #4495B3 !important;
}

.u-section-1 .u-image-1 {
    width: 226px;
    height: auto;
    margin: 0 auto;
}

.u-back-image.u-image-contain, .u-image.u-image-contain {
    object-fit: contain;
    background-size: contain;
}

.u-font-montserrat.u-custom-font {
    font-family: Montserrat, sans-serif !important;
}

.u-align-center {
    text-align: center;
}

.landing-bg-color-white{
    max-width: 96% !important;
    border-radius: 10px;
    text-align: center;
}

.u-text-custom-color-2{
    color: #050505 !important;
}

.padding-10{
	padding:10px;
}

.u-section-1 .u-text-2 {
    font-size: 2.0625rem;
    font-weight: 700;
	margin:0;
}

.u-section-1 .u-text-2 span{
	color:#4495B3 !important;
}

.u-section-1 .u-text-3 {
    line-height: 1.4;
    margin: 6px 10px 0;
	font-size: 1.125rem;
}

.u-section-1 .u-text-4 {
	margin:0;
	font-size: 1.555rem;
    line-height: 1.4;
    padding: 0px 25px 0;
}

.u-section-1 .u-text-5 {
    line-height: 1.4;
    font-size: 0.875rem;
    padding: 0px 12px 20px;
	margin:0;
	color:#000;
	font-weight:400;
}

.u-section-1 .u-text-5 a{
	color:#000;
	text-decoration:underline;
}

.row-optin-landing-1{
    padding: 20px;
    align-items: center;
}

.optin-aling-center{
	text-align:center;
}

.optin-inline-form-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 0px;
}

.frm_subscribers{
	width:100%;
}

.frm_subscribers .plf-fname{
	margin-right:0px !important;
}

.frm_subscribers .progress{
	display:none;
}

.frm_subscribers .plf-fname{
	padding: 10px !important;
    max-width: 100% !important;
    width: 100% !important;
    border-style: solid !important;
    border-width: 1px !important;
	margin-right: 0px !important;
	border-color: #666 !important;
	font-size:14px !important;
	font-weight:400 !important;
}

.frm_subscribers .plf-email{
    padding: 10px !important;
    max-width: 100% !important;
    width: 100% !important;
    border-style: solid !important;
    border-width: 1px !important;
    margin-top: 5px !important;
	margin-bottom: 0px !important;
	border-color: #666 !important;
	font-size:14px !important;
	font-weight:400 !important;
}

.frm_subscribers  .plf-submit-button{
    font-size: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #9CC5D4;
    background-color: #9CC5D4 !important;
    color: #242424 !important;
    font-weight: 700 !important;
    width: 100%;
}

@media (max-width: 767px) {
	
	.inline-row{
		flex-wrap: wrap;
	}
	
	.inline-col-lg-5{
		width:100%;
	}
	
	.inline-col-lg-7{
		width:100%;
	}
	
	.u-section-1 .u-text-4{
		padding:0 10px;
	}

}

@media (max-width: 575px) {
	
	.optin-inline-form-container{
		flex-wrap: wrap;
	}
	
	
	
	.u-section-1 .u-text-2 span::before {
	  content: "\A"; /* Insert a line break after the word */
	  white-space: pre; /* Preserve whitespace */
	  display: inline; /* Ensure inline display */
	}
	
	.frm_subscribers .plf-fname{
		margin-right:0 !important;
		margin-bottom: 8px !important;
	}
	
	.frm_subscribers .plf-submit-button,
	.frm_subscribers .plf-fname, .frm_subscribers .plf-email{
		max-width:unset !important;
		width:100%;
	}
	
    .u-section-1 .u-text-1 {
        font-size: 1.875rem;
    }
	
	.u-section-1 .u-text-2 {
        font-size: 1.875rem;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
	
	.u-section-1 .u-text-4,
	.u-section-1 .u-text-3 {
		font-size: 1rem;
	}
}
