body {
  background: url("../../assets/img/bkg.jpg") center / cover no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

#section1 {
  width: 100%;
  height: 100vh;
}

#container1 {
  width: 95%;
  margin-top: 20px;
}

#text-top {
  color: var(--bs-yellow);
  font-size: 16px;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

@media (min-width: 992px) {
  #text-top {
    color: var(--bs-yellow);
    font-size: 18px;
    text-align: center;
    font-family: Montserrat, sans-serif;
  }
}

#nick-kate {
  width: 100%;
  max-width:200px;
}

#headline {
  color: rgb(255,255,255);
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 37.4px;
  padding-top: 9px;
}

@media (min-width: 992px) {
  #headline {
    color: rgb(255,255,255);
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 30.4px;
    padding-top: 9px;
  }
}

@media (min-width: 992px) {
  #container1 {
    width: 960px;
    margin-top: 20px;
  }
}

#text-bottom {
  color: rgb(255,255,255);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 9px 0px 16px;
  margin-top: 17px;
}

@media (min-width: 992px) {
  #text-bottom {
    color: rgb(255,255,255);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 9px 0px 16px;
    margin-top: 17px;
  }
}

#form-container {
  background: rgba(255,249,227,0);
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  border-style: none;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 992px) {
  #form-container {
    background: rgba(255,249,227,0);
    border-radius: 8px;
    padding: 10px;
    width: 800px;
    border-style: none;
  }
}

#form-text {
  font-family: Poppins, sans-serif;
  text-align: center;
}

#privacy-text {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: var(--bs-body-bg);
}

@media (min-width: 992px) {
  #form-text {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 22px;
  }
}

#line {
  width: 80%;
  height: 2px;
  color: rgb(194,194,194);
  margin-top: 0;
  margin-bottom: 0;
}

#footer-text {
  font-family: Poppins, sans-serif;
  color: rgb(162,162,162);
  font-size: 13px;
  text-align: center;
}


@media (max-width: 767px) {
	
	#nick-kate{
		max-width:unset;
	}
}
